<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.melardev.backgrounddemos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BasicService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ActivityBasicService" />

        <service
            android:name=".StartedServiceDemo"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".IntentSerivceDemo"
            android:exported="false" />

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".AlarmTriggeredActvity" />
        <activity android:name=".ActivityAsyncTask" />
        <activity android:name=".ActivityJobScheduler" />
        <activity android:name=".ActivityAlarm" />
        <activity android:name=".ActivityAlarmReSchedule" />
    </application>

</manifest>